.vol-surface {
  color: rgb(50,50,50);
}

.vol-title {
  text-align: center;
  font-size: 5.5vmin;
  font-family: "Raleway";
  margin: 5vh auto;
}

.vol-inputs {
  margin: 3vh auto;
  width: 90%;
  display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
 grid-column-gap: 5px;
}

#vol-button {
  margin: auto !important;
  width: 100px !important;
  height: 20px !important;
  transition: all 0.5s !important;
  font-size: 1.3vmin !important;
}

#vol-button:hover {
  background-color: var(--main-yellow) !important;
  color: rgb(10, 10, 10) !important;
  border: none !important;
}

.vol-button-wrapper {
  display: flex;
justify-content: center;
  margin-bottom: 3vh;
}

.vol-subtitle {
  text-align: center;
  font-size: 2.4vmin;
}
